<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/myjapan/dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Trang chủ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="work-hours" href="/myjapan/work-hours">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Giờ làm</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="finance" href="/myjapan/finance">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Thu chi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="todos" href="/myjapan/todos">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Việc cần làm</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/myjapan/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Cài đặt</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
