<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Đổi mật khẩu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">

    <!-- Old password -->
    <ion-item class="ion-margin-top" [class.invalid]="cpf['old_password'].invalid && cpf['old_password'].touched">
      <ion-label position="stacked">Mật khẩu hiện tại</ion-label>
      <ion-input
        type="password"
        formControlName="old_password"
        placeholder="Mật khẩu hiện tại"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="cpf.old_password.touched && cpf.old_password.errors?.['required']">
      Vui lòng nhập mật khẩu hiện tại.
    </ion-note>

    <!-- New password -->
    <ion-item class="ion-margin-top" [class.invalid]="cpf['new_password'].invalid && cpf['new_password'].touched">
      <ion-label position="stacked">Mật khẩu mới</ion-label>
      <ion-input
        type="password"
        formControlName="new_password"
        placeholder="Mật khẩu mới"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="cpf.new_password.touched && cpf.new_password.errors?.['required']">
      Vui lòng nhập mật khẩu mới.
    </ion-note>
    <ion-note color="danger" *ngIf="cpf['new_password']?.touched && !cpf.new_password.errors?.['minlength'] && cpf['new_password']?.errors?.['weakPassword']">
      Mật khẩu phải ≥ 8 ký tự, có ít nhất 1 chữ hoa và 1 số.
    </ion-note>

    <!-- Confirm -->
    <ion-item class="ion-margin-top" [class.invalid]="cpf['confirm_password'].invalid && cpf['confirm_password'].touched">
      <ion-label position="stacked">Xác nhận mật khẩu mới</ion-label>
      <ion-input
        type="password"
        formControlName="confirm_password"
        placeholder="Xác nhận mật khẩu mới"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="cpf.confirm_password.touched && cpf.confirm_password.errors?.['required']">
      Vui lòng nhập lại mật khẩu mới.
    </ion-note>
    <ion-note color="danger"
      *ngIf="cpf['confirm_password']?.touched && cpf['confirm_password']?.errors?.['passwordMismatch']">
      Mật khẩu xác nhận không trùng khớp.
    </ion-note>

    <ion-button color="secondary" expand="block" class="ion-margin-top" type="submit" [disabled]="changePasswordForm.invalid">
      Lưu thay đổi
    </ion-button>
  </form>
</ion-content>
