ion-toolbar {
  ion-icon { font-size: 24px; }
}

ion-content {
  font-size: 16px;

  ion-item {
    --inner-padding-end: 0;
    ion-input { font-size: 16px; }
  }

  ion-button[slot="end"] {
    margin-left: 8px;
  }
}

ion-item.invalid {
  --border-color: var(--ion-color-danger);
  --highlight-color-focused: var(--ion-color-danger);
}

ion-item.invalid ion-input {
  color: var(--ion-color-danger);
}

ion-note[color="danger"] {
  display: block;
  text-align: left;
  margin: 5px 0 10px 16px;
}
