.search-content {
  padding: 10px 16px 16px 16px;
  background: var(--ion-color-light);
}

ion-item {
  --background: transparent;
}

.range-display {
  text-align: center;
  margin: 8px 0;
  font-style: italic;
}

ion-button {
  margin-top: 10px;
}
